<html>
{%include "menu.html"%}
 {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexDetails.css' %}" />
    <h1>Enhancing Yelp review using Image Clustering</h1>
    <b>
        <p>The Yelp Dataset challenge invites participants
            to explore datasets made available by Yelp
            in order to explore innovative ways to use this data,
            in hopes of finding insight and correlations within the
            data that cam help the business model grow.
        </p>
        <p>Our motivation to our project is to enrich the user
            experience by creating tags for photos based on contextual information,
            automatically enhancing a review with an image.
        </p>
        <p>We wil be using the Yelp dataset. We will focus only on
            restaurants.
        </p>
    </b>
</html>
