<!-- This html file displays our pictures
  -- Along with the original captions and labels
  -- And the predicted captions and label from our experiment
  -- The Python code in the brackets takes all the
  -- images from the queries written in the view file
  -- Along with any other Python code-->

<html>
    {%include "menu.html"%}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/testsDetails.css' %}" />
    <head>

    </head>

    <body>
        <div>
            <table>
                {% for imag in images %}
                <tr tabindex="1" class = "imgWrap">
                    <td class="image"><img src="https://s3-us-west-2.amazonaws.com/auto-ap-media/media/{{imag.split}}/{{imag.file_name}}" alt="{{imag.file_name}}" /></td>

                    <td class="imgCap">
                        <div class = "imgDescription">
                            <br>Original Caption:
                            <li>{{imag.caption}}</li>
                            <br>Original Label:
                            <li>{{imag.label}}</li>
                            <br>Generated Label:
                            <li>{{imag.predicted_label}}</li>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}"> < </a>
                {% endif %}
                <span>
                    Page {{ images.number }} of {{ images.paginator.num_pages }}
                </span>
                {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}"> > </a>
                {% endif %}
            </span>
        </div>
    </body>
</html>