ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color: red;
}

.navBar a{
    font: 20px/1.4 arial;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navBar a:hover {
    background-color: white;
    color:red
}