@font-face {
    font-family: "LeagueGothic";
    src: url("../LeagueGothic-Regular.otf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

.pageTitle{
    font: 80px/1.4 LeagueGothic;
    color: red;
    text-align: center;
    padding: 0;
    margin:0;
}

.navBar a{
    font: 20px/1.4 arial;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: white;
    color:red
}