body{
    font:14px/1.4 arial;
    color:gray;
}
th, td {
    padding: 20px;
    text-align: centered;
    border-bottom: 1px solid #ddd;
}
.DocLink a{
    font:14px/1.4 arial;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

.DocLink a:hover{
    color: red;
}
